.mobile-menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn__icon {
  fill: $primary-black-color;
}
